<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="{% static 'mystyle.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'styles.css' %}" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<title>Login Screen</title>
<body class="bgstyles-beach">
    <nav id="nav">
        <!-- I wanted some sort of name as a placeholder for the moment. This is my dog's name, haha. -->
      <span class="borderBottom user" >{{ username_is }}</span>
      <a class="borderBottom"  href="{% url 'home'%}">Home</a>
      <a class="borderBottom"  href="{% url 'destinations'%}">Destination</a>
      <a class="borderBottom"  href="#">About Us</a>
      <a class="borderBottom"  href="{% url 'contact'%}">Contact Us</a>
      <!-- My thought here is that instead of having a registration link we have a sign in link and then on the sign in page we create another link that leads to registration if the user doesn't have an account -->
       {%if user.is_authenticated%}
      <a href="{% url 'logout'%}">Logout</a>
      {% else %}
      <a href="{% url 'login'%}" class="active">Sign In</a>
      {% endif %}
    </nav>


      <div>
<div class="headertext">
  <div class='border-text'>     
      <h1> Log In </h1>
  </div>    
      <div class="container">
         <form method='POST' action='login'>
             {% csrf_token %}
                Username:<input type='text' name='username'>
                Password:<input type='password' name='password'>     
               <input type='submit' value='login'>
         </form>
         
      </div>  
      <p>If you don't have a login <a href="{% url 'registration'%}"><strong> Register here</strong></a></p> 
      </div>
    </div>
  
      <Footer class="footer">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-google-plus"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
</Footer>  
   </body>
</html>