body {
    background-color:#0a8088;
    background-image: url("https://images.unsplash.com/photo-1437719417032-8595fd9e9dc6?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTZ8fHxlbnwwfHx8&auto=format&fit=crop&w=500&q=60");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* This makes it so that the navbar is flush against the edges. */
    padding: 0px;
    margin:0px;
    color: black;
    
  }

  /* div {
    color: rgb(1, 10, 2);
    margin-left: 20px;
  } */

  #nav{
    background-color: white;
    font-family: Georgia;
    font-style:italic;
    font-size: 20px;
    overflow: hidden;
    font-weight: 600;
  }
  #nav>span {
    float: right;
    padding: 10px 12px;
  }
  #nav>a {
    float: left;
    padding: 10px 12px;
    text-decoration: none;
    color: black;
  }
  /* Current page */
  #nav>a.active {
    background-color: rgb(0, 110, 255);
  }
  #nav>a:hover{
    background-color:rgba(2, 77, 175, 0.418);
  }
  /* .header-image {
    height: 50%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  } */
  .headertext {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
  }
 
  .mission-text{
    font-family:cursive;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
    text-align: center;
  }
  .testimonial-section {
    display: flex;
    background-color: DodgerBlue;
    position: absolute;
    top: 80%;
    margin: 10px;
  }
  
  .testimonials {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 14px;
  }
  /* .testimonial-section{
    top: 65%;
    position: absolute;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .testimonials {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 13px;
    text-align: center;
  } */