<!DOCTYPE html>
{% load static %}
<html>
<head>
   
    <link type="text/css" rel="stylesheet" href="{% static 'mystyle.css' %}" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  </head>
   <title>Registration Screen</title>

   <body>
      <div>
      <h1> Register </h1>
           <form method='POST' action='registration'>
               {% csrf_token %}
                  {{form.as_p}}
           
             <input type='submit' value="Register">
         </form>
         <div>
         Already have an account?<a href='{% url 'login' %}'>Sign In Here</a>
         </div>
      </div>
   </body>
</html>