<!DOCTYPE html>

<html>
  <head>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'styles.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'mystyle.css' %}" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <title>Welcome</title>

  <body>
     <!-- Stylings I put in are just placeholders. Feel free to modify. -->
     <nav id="nav">
        <!-- I wanted some sort of name as a placeholder for the moment. This is my dog's name, haha. -->
      <span><a href="{% url 'profile' %}">{{ username_is }}</a></span>
      <a href="{% url 'home'%}" class="active">Home</a>
      <a href="{% url 'destinations'%}">Destination</a>
      <a href="{% url 'about'%}">About Us</a>
      <a href="{% url 'contact'%}">Contact Us</a>
      <!-- My thought here is that instead of having a registration link we have a sign in link and then on the sign in page we create another link that leads to registration if the user doesn't have an account -->
      <a href="{% url 'registration'%}">Sign In</a>
    </nav>

      <h3>Contact Us</h3>

<div class="container">
  <form method='POST' action="contact">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="Your email">
    
    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">
  </form>
</div>  
   
     <!-- Footer -->  

       <Footer class="footer">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
								<a href="#"><i class="fa fa-youtube"></i></a>
			 </Footer>  


  </body>
</html>
